# --------- MANDATORY VARIABLES ---------

# SERVER
SERVER_PORT=8080
DEVELOPMENT=true

# DATABASE DOCKER
DB_NAME=questao-certa
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=27017
DB_COLLECTION=questions
